**IMPORT DES LIBRAIRIES**

In [2]:
#Import des librairies
import pandas as pd
import numpy as np
import re

**PREMIERE PARTIE: ANALYSE ET NETTOYAGE DES DONNEES**

In [3]:
#importer des fichiers csv
#detecter et corriger les erreurs 
#uniformiser le nom des colonnes entre les tableaux
#uniformiser les unités des valeurs entre les tableaux

**1. ANALYSE DES DONNEES ET NETTOYAGE**

**A) ANALYSE DU FICHIER POPULATION**

In [4]:
#chargement du fichier population
population = pd.read_csv('population.csv')

In [5]:
#affichage des 5 premières valeurs du tableau pour avoir un apperçu
population.head()

          Zone  Année     Valeur
0  Afghanistan   2013  32269.589
1  Afghanistan   2014  33370.794
2  Afghanistan   2015  34413.603
3  Afghanistan   2016  35383.032
4  Afghanistan   2017  36296.113

In [6]:
#pour avoir la quantité de donnée
population.shape

(1416, 3)

In [7]:
#pour verifier que les données soient correctement exprimées
population.dtypes

Zone       object
Année       int64
Valeur    float64
dtype: object

In [8]:
#vérifier le taux de NaN
population.isna().mean()

Zone      0.0
Année     0.0
Valeur    0.0
dtype: float64

In [9]:
#calculer le taux de doublon
population.duplicated().mean()

0.0

In [10]:
#renommage des colonnes
#renommer la colonne valeur en nombre_habitant
population.rename(columns={'Valeur': 'nombre_habitant'}, inplace=True)
population.head()

          Zone  Année  nombre_habitant
0  Afghanistan   2013        32269.589
1  Afghanistan   2014        33370.794
2  Afghanistan   2015        34413.603
3  Afghanistan   2016        35383.032
4  Afghanistan   2017        36296.113

In [11]:
#Unité de valeur : exprimée en milliers
#Année : chaque année est distinguée
#Aucune valeur null
#Aucun doublon

**B) NETTOYAGE DU FICHIER POPULATION**

In [12]:
#Uniformiser les unités
#diviser par 1000 pour adapter l'unité et la passer en millions d'habitant
population['nombre_habitant']=population['nombre_habitant']/1000
population['nombre_habitant'] = population['nombre_habitant'].round(1)
population.head()

          Zone  Année  nombre_habitant
0  Afghanistan   2013             32.3
1  Afghanistan   2014             33.4
2  Afghanistan   2015             34.4
3  Afghanistan   2016             35.4
4  Afghanistan   2017             36.3

**C) ANALYSE DU FICHIER SOUS_NUTRITION**

In [13]:
#chargement du fichier sous_nutrition
sous_nutrition = pd.read_csv('sous_nutrition.csv')

In [14]:
#affichage des 5 premières valeurs du tableau pour avoir un apperçu
sous_nutrition.head()

          Zone      Année Valeur
0  Afghanistan  2012-2014    8.6
1  Afghanistan  2013-2015    8.8
2  Afghanistan  2014-2016    8.9
3  Afghanistan  2015-2017    9.7
4  Afghanistan  2016-2018   10.5

In [15]:
#pour avoir la quantité de donnée
sous_nutrition.shape

(1218, 3)

In [16]:
#pour verifier que les données sont correctement exprimées
sous_nutrition.dtypes

Zone      object
Année     object
Valeur    object
dtype: object

In [17]:
#vérifier le taux de NaN
sous_nutrition.isna().mean()

Zone      0.000000
Année     0.000000
Valeur    0.487685
dtype: float64

In [18]:
#calculer le taux de doublon
sous_nutrition.duplicated().mean()

0.0

In [19]:
#renommage des colonnes
#renommer la colonne valeur en nombre_habitant
sous_nutrition.rename(columns={'Valeur': 'pop_en_sous_nutrition'}, inplace=True)
sous_nutrition.head()

          Zone      Année pop_en_sous_nutrition
0  Afghanistan  2012-2014                   8.6
1  Afghanistan  2013-2015                   8.8
2  Afghanistan  2014-2016                   8.9
3  Afghanistan  2015-2017                   9.7
4  Afghanistan  2016-2018                  10.5

In [20]:
#Unité de valeur : exprimée en millions
#Année : les années sont regroupées par intervalle de 2 ans
#Anomalies détectées sur les colonnes "années" et "valeur" exprimées en object au lieu de int et float
#59% de données nulles dans la colonne "valeur"

**C) NETTOYAGE DU FICHIER SOUS_NUTRITION**

In [21]:
#la colonne contient une valeur string qui empeche la conversion en numeric en float
#transformer le champs '<0.1' en valeur null
#puis transformer la colonne en format numérique
sous_nutrition.loc[sous_nutrition['pop_en_sous_nutrition'] == '<0.1', 'pop_en_sous_nutrition'] = np.nan
sous_nutrition['pop_en_sous_nutrition']=pd.to_numeric(sous_nutrition['pop_en_sous_nutrition'])
sous_nutrition['pop_en_sous_nutrition'].fillna(0, inplace=True)
sous_nutrition.isna().mean()

Zone                     0.0
Année                    0.0
pop_en_sous_nutrition    0.0
dtype: float64

In [22]:
#remplacer les années 2016-2018 par 2017(cf notes de julien)
sous_nutrition['Année'].replace(to_replace='2016-2018', value='2017', inplace=True)
sous_nutrition['Année']=='2017'

0       False
1       False
2       False
3       False
4        True
        ...
1213    False
1214    False
1215    False
1216     True
1217    False
Name: Année, Length: 1218, dtype: bool

**D) ANALYSE DU FICHIER DISPO_ALIMENTAIRE**

In [23]:
#chargement du fichier dispo_alimentaire
dispo_alimentaire = pd.read_csv('dispo_alimentaire.csv')

In [24]:
dispo_alimentaire.head()

,Zone,Produit,Origine,Aliments pour animaux,Autres Utilisations,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock
0,Afghanistan,Abats Comestible,animale,NaN,NaN,5.0,1.72,0.20,0.77,53.0,NaN,NaN,53.0,NaN,53.0,NaN,NaN,NaN
1,Afghanistan,"Agrumes, Autres",vegetale,NaN,NaN,1.0,1.29,0.01,0.02,41.0,2.0,40.0,39.0,2.0,3.0,NaN,NaN,NaN
2,Afghanistan,Aliments pour enfants,vegetale,NaN,NaN,1.0,0.06,0.01,0.03,2.0,NaN,2.0,2.0,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,Ananas,vegetale,NaN,NaN,0.0,0.00,NaN,NaN,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,Bananes,vegetale,NaN,NaN,4.0,2.70,0.02,0.05,82.0,NaN,82.0,82.0,NaN,NaN,NaN,NaN,NaN

In [25]:
dispo_alimentaire['Produit'].unique()

array(['Abats Comestible', 'Agrumes, Autres', 'Aliments pour enfants',
       'Ananas', 'Bananes', 'Beurre, Ghee', 'Bière', 'Blé',
       'Boissons Alcooliques', 'Café', 'Coco (Incl Coprah)', 'Crème',
       'Céréales, Autres', 'Dattes', 'Edulcorants Autres',
       'Feve de Cacao', 'Fruits, Autres', 'Graines de coton',
       'Graines de tournesol', 'Graisses Animales Crue',
       'Huil Plantes Oleif Autr', 'Huile Graines de Coton',
       "Huile d'Arachide", "Huile d'Olive", 'Huile de Colza&Moutarde',
       'Huile de Palme', 'Huile de Soja', 'Huile de Sésame',
       'Huile de Tournesol', 'Lait - Excl Beurre', 'Légumes, Autres',
       'Légumineuses Autres', 'Maïs', 'Miel', 'Millet', 'Miscellanees',
       'Noix', 'Oeufs', 'Olives', 'Oranges, Mandarines', 'Orge',
       'Plantes Oleiferes, Autre', 'Poissons Eau Douce', 'Poivre',
       'Pommes', 'Pommes de Terre', 'Raisin', 'Riz (Eq Blanchi)',
       'Sucre Eq Brut', 'Sucre, betterave', 'Sucre, canne', 'Sésame',
       'Thé', 'Tomates', "Viande d'Ovins/Caprins", 'Viande de Bovins',
       'Viande de Volailles', 'Viande, Autre', 'Vin', 'Épices, Autres',
       'Alcool, non Comestible', 'Animaux Aquatiques Autre',
       'Arachides Decortiquees', 'Avoine', 'Bananes plantains',
       'Boissons Fermentés', 'Cephalopodes', 'Citrons & Limes',
       'Crustacés', 'Girofles', 'Graines Colza/Moutarde', 'Haricots',
       'Huile de Coco', 'Huile de Germe de Maïs', 'Huile de Palmistes',
       'Huiles de Foie de Poisso', 'Huiles de Poissons', 'Ignames',
       'Manioc', 'Mollusques, Autres', 'Oignons', 'Palmistes',
       'Pamplemousse', 'Patates douces', 'Perciform', 'Piments',
       'Plantes Aquatiques', 'Pois', 'Poissons Marins, Autres',
       'Poissons Pelagiques', 'Racines nda', 'Seigle', 'Soja', 'Sorgho',
       'Viande de Suides', 'Huile de Son de Riz', 'Sucre non centrifugé',
       'Viande de Anim Aquatiq'], dtype=object)

In [26]:
#pour avoir la quantité de donnée
dispo_alimentaire.shape

(15605, 18)

In [27]:
#pour verifier que les données sont correctement exprimées
dispo_alimentaire.dtypes

Zone                                                              object
Produit                                                           object
Origine                                                           object
Aliments pour animaux                                            float64
Autres Utilisations                                              float64
Disponibilité alimentaire (Kcal/personne/jour)                   float64
Disponibilité alimentaire en quantité (kg/personne/an)           float64
Disponibilité de matière grasse en quantité (g/personne/jour)    float64
Disponibilité de protéines en quantité (g/personne/jour)         float64
Disponibilité intérieure                                         float64
Exportations - Quantité                                          float64
Importations - Quantité                                          float64
Nourriture                                                       float64
Pertes                                                           float64
Production                                                       float64
Semences                                                         float64
Traitement                                                       float64
Variation de stock                                               float64
dtype: object

In [28]:
#vérifier le taux de NaN
dispo_alimentaire.isna().mean()

Zone                                                             0.000000
Produit                                                          0.000000
Origine                                                          0.000000
Aliments pour animaux                                            0.825697
Autres Utilisations                                              0.647805
Disponibilité alimentaire (Kcal/personne/jour)                   0.087408
Disponibilité alimentaire en quantité (kg/personne/an)           0.101890
Disponibilité de matière grasse en quantité (g/personne/jour)    0.244217
Disponibilité de protéines en quantité (g/personne/jour)         0.259148
Disponibilité intérieure                                         0.014290
Exportations - Quantité                                          0.216533
Importations - Quantité                                          0.048254
Nourriture                                                       0.101890
Pertes                                                           0.725857
Production                                                       0.411727
Semences                                                         0.866004
Traitement                                                       0.853124
Variation de stock                                               0.565780
dtype: float64

In [29]:
#calculer le taux de doublon
dispo_alimentaire.duplicated().mean()

0.0

In [30]:
#ici une kcal est égale à une calorie rééelle
#Unité des autres valeurs: exprimées en milliers de tonnes
#présence importante de NaN

**D) NETTOYAGE DU FICHIER DISPO_ALIMENTAIRE**

In [31]:
#Les NaN étant important choix de les conserver pour ne pas alterer les résultats

**E) ANALYSE DU FICHIER AIDE_ALIMENTAIRE**

In [32]:
#chargement du fichier aide_alimentaire
aide_alimentaire = pd.read_csv('aide_alimentaire.csv')

In [33]:
aide_alimentaire.head()

  Pays bénéficiaire  Année              Produit  Valeur
0       Afghanistan   2013  Autres non-céréales     682
1       Afghanistan   2014  Autres non-céréales     335
2       Afghanistan   2013         Blé et Farin   39224
3       Afghanistan   2014         Blé et Farin   15160
4       Afghanistan   2013             Céréales   40504

In [34]:
#pour avoir la quantité de donnée
aide_alimentaire.shape

(1475, 4)

In [35]:
#pour avoir le type de données
aide_alimentaire.dtypes

Pays bénéficiaire    object
Année                 int64
Produit              object
Valeur                int64
dtype: object

In [36]:
#vérifier le taux de NaN
aide_alimentaire.isna().mean()

Pays bénéficiaire    0.0
Année                0.0
Produit              0.0
Valeur               0.0
dtype: float64

In [37]:
#calculer le taux de doublon
aide_alimentaire.duplicated().mean()

0.0

In [38]:
#renommage des colonnes
#renommer la colonne valeur en nombre_habitant
aide_alimentaire.rename(columns={'Valeur': 'quantité', 'Pays bénéficiaire': 'Zone'}, inplace=True)
aide_alimentaire.head()

          Zone  Année              Produit  quantité
0  Afghanistan   2013  Autres non-céréales       682
1  Afghanistan   2014  Autres non-céréales       335
2  Afghanistan   2013         Blé et Farin     39224
3  Afghanistan   2014         Blé et Farin     15160
4  Afghanistan   2013             Céréales     40504

In [39]:
#unité de valeur : exprimée en tonnes
#Année : chaque année est distinguée 
#zone nommée : "Pays beneficiaires"

**E) NETTOYAGE DU FICHIER AIDE_ALIMENTAIRE**

In [40]:
#transformer en millier de tonnes en multipliant par 1000
aide_alimentaire['quantité']=aide_alimentaire['quantité']/1000
aide_alimentaire['quantité'] = aide_alimentaire['quantité'].round(1)
aide_alimentaire.head()

          Zone  Année              Produit  quantité
0  Afghanistan   2013  Autres non-céréales       0.7
1  Afghanistan   2014  Autres non-céréales       0.3
2  Afghanistan   2013         Blé et Farin      39.2
3  Afghanistan   2014         Blé et Farin      15.2
4  Afghanistan   2013             Céréales      40.5

**DEUXIEME PARTIE : QUESTIONS DE MARC**

**1. la proportion de personnes en état de sous-nutrition**

In [41]:
#jointure des 2 dataframe
df=pd.merge(population,sous_nutrition, how='inner', on='Zone')
df.head()

          Zone  Année_x  nombre_habitant    Année_y  pop_en_sous_nutrition
0  Afghanistan     2013             32.3  2012-2014                    8.6
1  Afghanistan     2013             32.3  2013-2015                    8.8
2  Afghanistan     2013             32.3  2014-2016                    8.9
3  Afghanistan     2013             32.3  2015-2017                    9.7
4  Afghanistan     2013             32.3       2017                   10.5

In [42]:
#filtrer sur l'année 2017
df1=df.loc[(df["Année_x"]==2017) & (df["Année_y"]=="2017")]
df1.head()

               Zone  Année_x  nombre_habitant Année_y  pop_en_sous_nutrition
28      Afghanistan     2017             36.3    2017                   10.5
64   Afrique du Sud     2017             57.0    2017                    3.1
100         Albanie     2017              2.9    2017                    0.1
136         Algérie     2017             41.4    2017                    1.3
172       Allemagne     2017             82.7    2017                    0.0

In [43]:
#faire la somme de la population totale
pop_total=df1['nombre_habitant'].sum()
print(f" la population totale est de {pop_total} ")
#faire la somme de la population total en sous nutrition
pop_total_sous_nutrition=df1['pop_en_sous_nutrition'].sum()
print(f" la population totale en sous nutrition est de {pop_total_sous_nutrition} ")
#diviser l'un par l'autre
proportion_pop_sous_nutrition=(pop_total_sous_nutrition/pop_total)*100
print(f" la proportion de personne en état de sous nutrition est donc de {proportion_pop_sous_nutrition.round(2)}% ")

 la population totale est de 7543.9
 la population totale en sous nutrition est de 535.7
 la proportion de personne en état de sous nutrition est donc de 7.1%

**2. Le nombre théorique de personnes qui pourraient être nourries**

In [44]:
#jointure population et dispo_alimentaire
df2=pd.merge(population,dispo_alimentaire, how='inner', on='Zone')
df2.head()

,Zone,Année,nombre_habitant,Produit,Origine,Aliments pour animaux,Autres Utilisations,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock
0,Afghanistan,2013,32.3,Abats Comestible,animale,NaN,NaN,5.0,1.72,0.20,0.77,53.0,NaN,NaN,53.0,NaN,53.0,NaN,NaN,NaN
1,Afghanistan,2013,32.3,"Agrumes, Autres",vegetale,NaN,NaN,1.0,1.29,0.01,0.02,41.0,2.0,40.0,39.0,2.0,3.0,NaN,NaN,NaN
2,Afghanistan,2013,32.3,Aliments pour enfants,vegetale,NaN,NaN,1.0,0.06,0.01,0.03,2.0,NaN,2.0,2.0,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,2013,32.3,Ananas,vegetale,NaN,NaN,0.0,0.00,NaN,NaN,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,2013,32.3,Bananes,vegetale,NaN,NaN,4.0,2.70,0.02,0.05,82.0,NaN,82.0,82.0,NaN,NaN,NaN,NaN,NaN

In [45]:
#filtrer sur 2017
df3=df2.loc[df2['Année']==2017]
df3.head()

,Zone,Année,nombre_habitant,Produit,Origine,Aliments pour animaux,Autres Utilisations,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock
240,Afghanistan,2017,36.3,Abats Comestible,animale,NaN,NaN,5.0,1.72,0.20,0.77,53.0,NaN,NaN,53.0,NaN,53.0,NaN,NaN,NaN
241,Afghanistan,2017,36.3,"Agrumes, Autres",vegetale,NaN,NaN,1.0,1.29,0.01,0.02,41.0,2.0,40.0,39.0,2.0,3.0,NaN,NaN,NaN
242,Afghanistan,2017,36.3,Aliments pour enfants,vegetale,NaN,NaN,1.0,0.06,0.01,0.03,2.0,NaN,2.0,2.0,NaN,NaN,NaN,NaN,NaN
243,Afghanistan,2017,36.3,Ananas,vegetale,NaN,NaN,0.0,0.00,NaN,NaN,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN
244,Afghanistan,2017,36.3,Bananes,vegetale,NaN,NaN,4.0,2.70,0.02,0.05,82.0,NaN,82.0,82.0,NaN,NaN,NaN,NaN,NaN

In [46]:
#calculer le total de la dispo alimentaire par zone
df4=df3.groupby(['Zone','nombre_habitant'], as_index=False).sum()
df4.head()

,Zone,nombre_habitant,Année,Aliments pour animaux,Autres Utilisations,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock
0,Afghanistan,36.3,121020,768.0,415.0,2087.0,351.41,33.50,58.26,13515.0,278.0,2988.0,10735.0,1135.0,11171.0,395.0,63.0,-368.0
1,Afrique du Sud,57.0,191615,5309.0,876.0,3020.0,564.80,83.58,85.33,61256.0,11674.0,7517.0,29812.0,2193.0,63263.0,253.0,22819.0,2153.0
2,Albanie,2.9,185564,660.0,174.0,3188.0,1095.54,106.48,111.37,4758.0,94.0,933.0,3476.0,276.0,3964.0,55.0,113.0,-45.0
3,Algérie,41.4,187581,4352.0,1707.0,3293.0,809.13,76.48,91.92,42630.0,655.0,17403.0,31729.0,3753.0,26359.0,449.0,637.0,-479.0
4,Allemagne,82.7,191615,30209.0,7711.0,3503.0,957.52,141.62,101.39,162275.0,57431.0,65353.0,79238.0,3781.0,154547.0,1551.0,39842.0,-192.0

In [47]:
df5=df4["Disponibilité alimentaire (Kcal/personne/jour)"]*df4['nombre_habitant']
print(df5)

0        75758.1
1       172140.0
2         9245.2
3       136330.2
4       289698.1
         ...
167      31112.5
168      39412.8
169    1197018.2
170     226525.6
171       1429.8
Length: 172, dtype: float64

In [48]:
sum_df5=df5.sum()/2500
nombre_habitant_total=df4['nombre_habitant'].sum()
print(f" Le nombre théorique de million de personnes qui pourraient être nourries {(sum_df5.round(2))} ")
print(f" Le nombre théorique de personnes qui pourraient être nourries {((sum_df5*1000000).round(2))} ")
print(f" la proportion de personnes qui pourraient être nourries {((sum_df5)/nombre_habitant_total*100).round(2)}% ")

 Le nombre théorique de million de personnes qui pourraient être nourries 8367.79
 Le nombre théorique de personnes qui pourraient être nourries 8367788640.0
 la proportion de personnes qui pourraient être nourries 114.75%

**3. idem pour la disponibilité alimentaire des produits végétaux**

In [49]:
#calculer le total de la dispo alimentaire végétale par zone
df6=df3.groupby(['Zone','nombre_habitant','Origine', 'Année'], as_index=False).sum()
df6.head()

,Zone,nombre_habitant,Origine,Année,Aliments pour animaux,Autres Utilisations,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock
0,Afghanistan,36.3,animale,2017,123.0,0.0,216.0,79.92,15.23,12.21,2631.0,0.0,350.0,2442.0,63.0,2280.0,2.0,0.0,0.0
1,Afghanistan,36.3,vegetale,2017,645.0,415.0,1871.0,271.49,18.27,46.05,10884.0,278.0,2638.0,8293.0,1072.0,8891.0,393.0,63.0,-368.0
2,Afrique du Sud,57.0,animale,2017,187.0,115.0,487.0,139.63,34.66,36.39,7817.0,1088.0,1049.0,7371.0,83.0,7614.0,67.0,0.0,241.0
3,Afrique du Sud,57.0,vegetale,2017,5122.0,761.0,2533.0,425.17,48.92,48.94,53439.0,10586.0,6468.0,22441.0,2110.0,55649.0,186.0,22819.0,1912.0
4,Albanie,2.9,animale,2017,101.0,2.0,985.0,389.05,67.72,59.41,1432.0,10.0,87.0,1235.0,94.0,1355.0,0.0,0.0,0.0

In [50]:
#filtrer sur vegetale
df7=df6.loc[df6['Origine']=='vegetale']
df7.head()

,Zone,nombre_habitant,Origine,Année,Aliments pour animaux,Autres Utilisations,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock
1,Afghanistan,36.3,vegetale,2017,645.0,415.0,1871.0,271.49,18.27,46.05,10884.0,278.0,2638.0,8293.0,1072.0,8891.0,393.0,63.0,-368.0
3,Afrique du Sud,57.0,vegetale,2017,5122.0,761.0,2533.0,425.17,48.92,48.94,53439.0,10586.0,6468.0,22441.0,2110.0,55649.0,186.0,22819.0,1912.0
5,Albanie,2.9,vegetale,2017,559.0,172.0,2203.0,706.49,38.76,51.96,3326.0,84.0,846.0,2241.0,182.0,2609.0,55.0,113.0,-45.0
7,Algérie,41.4,vegetale,2017,4352.0,1706.0,2915.0,632.35,54.12,66.94,35510.0,649.0,14672.0,24797.0,3587.0,21964.0,428.0,637.0,-479.0
9,Allemagne,82.7,vegetale,2017,28122.0,6842.0,2461.0,568.82,63.63,39.90,126866.0,34454.0,50642.0,47079.0,3717.0,110926.0,1475.0,39686.0,-247.0

In [51]:
dispo_par_zone_vegetaux=df7["Disponibilité alimentaire (Kcal/personne/jour)"]*df7['nombre_habitant']
dispo_par_zone_vegetaux.head()

1     67917.3
3    144381.0
5      6388.7
7    120681.0
9    203524.7
dtype: float64

In [52]:
sum_dispo_par_zone_vegetaux=dispo_par_zone_vegetaux.sum()/2500
sum_dispo_par_zone_vegetaux=dispo_par_zone_vegetaux.sum()/2500
print(f" Le nombre théorique de personnes qui pourraient être nourries par des produits végétaux en million {(sum_dispo_par_zone_vegetaux.round(2))} ")
print(f" Le nombre théorique de personnes qui pourraient être nourries par des produits végétaux {((sum_dispo_par_zone_vegetaux*1000000).round(2))} ")
print(f" la proportion de personnes qui pourraient être nourries par des produits végétaux {((sum_dispo_par_zone_vegetaux)/nombre_habitant_total*100).round(2)}% ")

 Le nombre théorique de personnes qui pourraient être nourries par des produits végétaux en million 6904.48
 Le nombre théorique de personnes qui pourraient être nourries par des produits végétaux 6904478840.0
 la proportion de personnes qui pourraient être nourries par des produits végétaux 94.68%

**4. part attribuée à l’alimentation animale, celle qui est perdue et celle qui est utilisée pour l alimentation humaine**

**A) proportion de la part attribuée à l'alimentation animale**

In [53]:
total_alim_animale=dispo_alimentaire["Aliments pour animaux"].sum()
total_dispo_interieur=dispo_alimentaire["Disponibilité intérieure"].sum()
proportion_alim_animale=total_alim_animale/total_dispo_interieur*100
print(f" la part part attribuée à l’alimentation animale est de {(proportion_alim_animale)} ")

 la part part attribuée à l’alimentation animale est de 13.242418464261426

**B) proportion de la disponibilité intérieure perdue**

In [54]:
#proportion de la disponibilité intérieure perdue
total_alim_perdue=dispo_alimentaire["Pertes"].sum()
proportion_alim_perdue=total_alim_perdue/total_dispo_interieur*100
print(f" la part  de l'alimentation perdue est de {(proportion_alim_perdue)} ")

 la part  de l'alimentation perdue est de 4.606541541196999

**C) proportion de la disponibilité intérieure utilisée pour l'alimentation humaine**

In [55]:
#proportion utilisée pour l'alimentation humaine
total_nourriture=dispo_alimentaire["Nourriture"].sum()
proportion_nourriture=total_nourriture/total_dispo_interieur*100
print(f" la proportion  de l'alimentation utilisée pour l'alimentation humaine est de {(proportion_nourriture)} %")

 la proportion  de l'alimentation utilisée pour l'alimentation humaine est de 49.51021393657058 %

**TROISIEME PARTIE : QUESTIONS DE MELANIE**

**1. pays pour lesquels la proportion de personnes sous-alimentées est la plus forte en 2017**

In [56]:
#regrouper par pays
#calculer la proportion de personnes sous_alimentées par pays en 2017
proportion_par_pays=df1.groupby(['Zone','Année_x','Année_y'], as_index=False).sum()
proportion_par_pays.head()

             Zone  Année_x Année_y  nombre_habitant  pop_en_sous_nutrition
0     Afghanistan     2017    2017             36.3                   10.5
1  Afrique du Sud     2017    2017             57.0                    3.1
2         Albanie     2017    2017              2.9                    0.1
3         Algérie     2017    2017             41.4                    1.3
4       Allemagne     2017    2017             82.7                    0.0

In [57]:
proportion_par_pays['proportion_pays']=proportion_par_pays['pop_en_sous_nutrition']/proportion_par_pays['nombre_habitant']*100
proportion_par_pays.head()

,Zone,Année_x,Année_y,nombre_habitant,pop_en_sous_nutrition,proportion_pays
0,Afghanistan,2017,2017,36.3,10.5,28.925620
1,Afrique du Sud,2017,2017,57.0,3.1,5.438596
2,Albanie,2017,2017,2.9,0.1,3.448276
3,Algérie,2017,2017,41.4,1.3,3.140097
4,Allemagne,2017,2017,82.7,0.0,0.000000

In [58]:
#trier par ordre decroissant
proportion_par_pays[['Zone','proportion_pays']].sort_values(by = 'proportion_pays', ascending = False).head(10)

                                           Zone  proportion_pays
72                                        Haïti        48.181818
151  République populaire démocratique de Corée        47.244094
99                                   Madagascar        41.015625
95                                      Libéria        38.297872
91                                      Lesotho        38.095238
174                                       Tchad        38.000000
143                                      Rwanda        35.000000
177                                 Timor-Leste        33.333333
112                                  Mozambique        32.867133
0                                   Afghanistan        28.925620

**2. Pays qui ont le plus bénéficié d’aide depuis 2013**

In [59]:
#faire la somme des aides par pays
aide_alimentaire_par_pays=aide_alimentaire.groupby(['Zone'], as_index=False).sum()
aide_alimentaire_par_pays.head()

          Zone  Année  quantité
0  Afghanistan  32216     185.5
1      Algérie  78561      81.3
2       Angola   8054       5.0
3   Bangladesh  50347     348.2
4      Bhoutan  24170       2.6

In [60]:
#trier par ordre decroissant
aide_alimentaire_par_pays[['Zone', 'quantité']].sort_values(by = 'quantité', ascending = False).head(10)

                                Zone  quantité
50         République arabe syrienne    1859.0
75                          Éthiopie    1381.4
70                             Yémen    1206.5
61                     Soudan du Sud     695.3
60                            Soudan     670.0
30                             Kenya     552.4
3                         Bangladesh     348.2
59                           Somalie     293.0
53  République démocratique du Congo     288.4
43                             Niger     276.0

**3. Pays ayant le plus/le moins de disponibilité/habitant en 2017**

In [61]:
#rappeler la fonction dispo hab pays
df4.head()

,Zone,nombre_habitant,Année,Aliments pour animaux,Autres Utilisations,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock
0,Afghanistan,36.3,121020,768.0,415.0,2087.0,351.41,33.50,58.26,13515.0,278.0,2988.0,10735.0,1135.0,11171.0,395.0,63.0,-368.0
1,Afrique du Sud,57.0,191615,5309.0,876.0,3020.0,564.80,83.58,85.33,61256.0,11674.0,7517.0,29812.0,2193.0,63263.0,253.0,22819.0,2153.0
2,Albanie,2.9,185564,660.0,174.0,3188.0,1095.54,106.48,111.37,4758.0,94.0,933.0,3476.0,276.0,3964.0,55.0,113.0,-45.0
3,Algérie,41.4,187581,4352.0,1707.0,3293.0,809.13,76.48,91.92,42630.0,655.0,17403.0,31729.0,3753.0,26359.0,449.0,637.0,-479.0
4,Allemagne,82.7,191615,30209.0,7711.0,3503.0,957.52,141.62,101.39,162275.0,57431.0,65353.0,79238.0,3781.0,154547.0,1551.0,39842.0,-192.0

**A) Pays ayant le plus de disponibilité par habitant en 2017**

In [62]:
#trier par ordre décroissant
df4[['Zone','Disponibilité alimentaire (Kcal/personne/jour)']].sort_values(by = 'Disponibilité alimentaire (Kcal/personne/jour)', ascending = False).head(10)

                      Zone  Disponibilité alimentaire (Kcal/personne/jour)
11                Autriche                                          3770.0
16                Belgique                                          3737.0
157                Turquie                                          3708.0
169  États-Unis d'Amérique                                          3682.0
74                  Israël                                          3610.0
72                 Irlande                                          3602.0
75                  Italie                                          3578.0
89              Luxembourg                                          3540.0
166                 Égypte                                          3518.0
4                Allemagne                                          3503.0

**B) Pays ayant le moins de disponibilité par habitant en 2017**

In [63]:
#trier par ordre croissant
df4[['Zone','Disponibilité alimentaire (Kcal/personne/jour)']].sort_values(by = ['Disponibilité alimentaire (Kcal/personne/jour)']).head(10)

,Zone,Disponibilité alimentaire (Kcal/personne/jour)
127,République centrafricaine,1879.0
164,Zambie,1924.0
91,Madagascar,2056.0
0,Afghanistan,2087.0
65,Haïti,2089.0
132,République populaire démocratique de Corée,2093.0
150,Tchad,2109.0
165,Zimbabwe,2113.0
114,Ouganda,2126.0
152,Timor-Leste,2129.0

**QUATRIEME PARTIE : QUESTIONS DE JULIEN**

**1. L'EQUATION DE JULIEN**

In [64]:
#dispo interieur = production+importation-exportation+ou-variation de stock
#dispo interieur =aliments pour animaux+autre utilisation+nourriture-perte+semence+traitement
#poser l'équation pour la vérifier:
#dispox=production+importation-exportation+ou-variation de stock
#dispoy=aliments pour animaux+autre utilisation+nourriture+perte+semence+traitement
#créer 2 colonnes

In [65]:
dispo_alimentaire.head()

,Zone,Produit,Origine,Aliments pour animaux,Autres Utilisations,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock
0,Afghanistan,Abats Comestible,animale,NaN,NaN,5.0,1.72,0.20,0.77,53.0,NaN,NaN,53.0,NaN,53.0,NaN,NaN,NaN
1,Afghanistan,"Agrumes, Autres",vegetale,NaN,NaN,1.0,1.29,0.01,0.02,41.0,2.0,40.0,39.0,2.0,3.0,NaN,NaN,NaN
2,Afghanistan,Aliments pour enfants,vegetale,NaN,NaN,1.0,0.06,0.01,0.03,2.0,NaN,2.0,2.0,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,Ananas,vegetale,NaN,NaN,0.0,0.00,NaN,NaN,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,Bananes,vegetale,NaN,NaN,4.0,2.70,0.02,0.05,82.0,NaN,82.0,82.0,NaN,NaN,NaN,NaN,NaN

In [66]:
#création des colonnes
dispo_alimentaire['dispox']=dispo_alimentaire['Production']+dispo_alimentaire['Importations - Quantité']-dispo_alimentaire['Exportations - Quantité']+dispo_alimentaire['Variation de stock']
dispo_alimentaire['dispoy']=dispo_alimentaire['Aliments pour animaux']+dispo_alimentaire['Autres Utilisations']+dispo_alimentaire['Nourriture']+dispo_alimentaire['Pertes']+dispo_alimentaire['Semences']+dispo_alimentaire['Traitement']
dispo_alimentaire.head()

,Zone,Produit,Origine,Aliments pour animaux,Autres Utilisations,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock,dispox,dispoy
0,Afghanistan,Abats Comestible,animale,NaN,NaN,5.0,1.72,0.20,0.77,53.0,NaN,NaN,53.0,NaN,53.0,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,"Agrumes, Autres",vegetale,NaN,NaN,1.0,1.29,0.01,0.02,41.0,2.0,40.0,39.0,2.0,3.0,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,Aliments pour enfants,vegetale,NaN,NaN,1.0,0.06,0.01,0.03,2.0,NaN,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,Ananas,vegetale,NaN,NaN,0.0,0.00,NaN,NaN,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,Bananes,vegetale,NaN,NaN,4.0,2.70,0.02,0.05,82.0,NaN,82.0,82.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [67]:
#remplacer les nan par des zero
dispo_alimentaire.fillna(0, inplace=True)
dispo_alimentaire.head()

,Zone,Produit,Origine,Aliments pour animaux,Autres Utilisations,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock,dispox,dispoy
0,Afghanistan,Abats Comestible,animale,0.0,0.0,5.0,1.72,0.20,0.77,53.0,0.0,0.0,53.0,0.0,53.0,0.0,0.0,0.0,0.0,0.0
1,Afghanistan,"Agrumes, Autres",vegetale,0.0,0.0,1.0,1.29,0.01,0.02,41.0,2.0,40.0,39.0,2.0,3.0,0.0,0.0,0.0,0.0,0.0
2,Afghanistan,Aliments pour enfants,vegetale,0.0,0.0,1.0,0.06,0.01,0.03,2.0,0.0,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Afghanistan,Ananas,vegetale,0.0,0.0,0.0,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Afghanistan,Bananes,vegetale,0.0,0.0,4.0,2.70,0.02,0.05,82.0,0.0,82.0,82.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [68]:
#créer une colonne soustraction entre dispox et dispoy
dispo_alimentaire['soustraction']=dispo_alimentaire['dispox']-dispo_alimentaire['dispoy']
dispo_alimentaire.head(500)

,Zone,Produit,Origine,Aliments pour animaux,Autres Utilisations,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,...,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock,dispox,dispoy,soustraction
0,Afghanistan,Abats Comestible,animale,0.0,0.0,5.0,1.72,0.20,0.77,53.0,...,0.0,53.0,0.0,53.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Afghanistan,"Agrumes, Autres",vegetale,0.0,0.0,1.0,1.29,0.01,0.02,41.0,...,40.0,39.0,2.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Afghanistan,Aliments pour enfants,vegetale,0.0,0.0,1.0,0.06,0.01,0.03,2.0,...,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Afghanistan,Ananas,vegetale,0.0,0.0,0.0,0.00,0.00,0.00,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Afghanistan,Bananes,vegetale,0.0,0.0,4.0,2.70,0.02,0.05,82.0,...,82.0,82.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,Angola,Poivre,vegetale,0.0,0.0,0.0,0.00,0.00,0.00,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
496,Angola,Pommes,vegetale,0.0,0.0,1.0,1.00,0.01,0.01,22.0,...,22.0,22.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
497,Angola,Pommes de Terre,vegetale,0.0,0.0,40.0,20.39,0.06,0.84,709.0,...,39.0,438.0,57.0,670.0,215.0,0.0,0.0,709.0,0.0,709.0
498,Angola,Racines nda,vegetale,0.0,0.0,0.0,0.00,0.00,0.00,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
499,Angola,Raisin,vegetale,0.0,0.0,0.0,0.11,0.00,0.00,2.0,...,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

**2. répartition des céréales entre l’alimentation humaine (colonne Nourriture) et l’alimentation pour animaux**

In [69]:
#intégrer le fichier cereales pour avoir la liste des céréales
list_cereales=pd.read_csv('liste_cereales.csv')
list_cereales.head()

,Code Domaine,Domaine,Code zone (FAO),Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
0,FBS,Bilans Alimentaires (2010-),2,Afghanistan,5521,Aliments pour animaux,2511,Blé et produits,2017,2017,Milliers de tonnes,221,Im,Données de la FAO basées sur une méthodologie ...
1,FBS,Bilans Alimentaires (2010-),2,Afghanistan,5142,Nourriture,2511,Blé et produits,2017,2017,Milliers de tonnes,5944,Im,Données de la FAO basées sur une méthodologie ...
2,FBS,Bilans Alimentaires (2010-),2,Afghanistan,5521,Aliments pour animaux,2807,Riz et produits,2017,2017,Milliers de tonnes,4,Im,Données de la FAO basées sur une méthodologie ...
3,FBS,Bilans Alimentaires (2010-),2,Afghanistan,5142,Nourriture,2807,Riz et produits,2017,2017,Milliers de tonnes,700,Im,Données de la FAO basées sur une méthodologie ...
4,FBS,Bilans Alimentaires (2010-),2,Afghanistan,5521,Aliments pour animaux,2513,Orge et produits,2017,2017,Milliers de tonnes,67,Im,Données de la FAO basées sur une méthodologie ...

In [70]:
#avoir la liste des céréales
list_cereales['Produit'].unique()

array(['Blé et produits', 'Riz et produits', 'Orge et produits',
       'Maïs et produits', 'Seigle et produits', 'Avoine',
       'Millet et produits', 'Sorgho et produits', 'Céréales, Autres'],
      dtype=object)

In [71]:
#créer une liste reprenant les céréales
cereales2=['Blé et produits', 'Riz et produits', 'Orge et produits',
       'Maïs et produits', 'Seigle et produits', 'Avoine',
       'Millet et produits', 'Sorgho et produits', 'Céréales, Autres']

In [72]:
#filtrer le fichier dispo alimentaire sur les cereales
df_filtre_cereales=dispo_alimentaire[dispo_alimentaire['Produit'].isin(cereales2)]
df_filtre_cereales.head()

,Zone,Produit,Origine,Aliments pour animaux,Autres Utilisations,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,...,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock,dispox,dispoy,soustraction
12,Afghanistan,"Céréales, Autres",vegetale,0.0,0.0,0.0,0.00,0.00,0.00,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
67,Afrique du Sud,Avoine,vegetale,8.0,0.0,5.0,0.75,0.09,0.16,49.0,...,25.0,40.0,1.0,28.0,1.0,0.0,0.0,49.0,0.0,49.0
81,Afrique du Sud,"Céréales, Autres",vegetale,8.0,0.0,1.0,0.07,0.00,0.02,12.0,...,3.0,4.0,0.0,19.0,0.0,0.0,0.0,12.0,0.0,12.0
162,Albanie,Avoine,vegetale,25.0,0.0,1.0,0.13,0.01,0.03,28.0,...,1.0,0.0,1.0,27.0,1.0,0.0,0.0,0.0,0.0,0.0
176,Albanie,"Céréales, Autres",vegetale,0.0,0.0,0.0,0.08,0.00,0.01,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [73]:
##calcul du total des ceréales dédiées à l'alimentation humaine et à l'alimentation animale
total_nourriture_cereal=df_filtre_cereales['Nourriture'].sum()
total_aliments_pour_animaux_cereales=df_filtre_cereales['Aliments pour animaux'].sum()
print(f"la quantité de céréales dédiées à l'alimentation humaine est de {(total_nourriture_cereal)}")
print(f"la quantité de céréales dédiées à l'alimentation animale est de {(total_aliments_pour_animaux_cereales)}")

la quantité de céréales dédiées à l'alimentation humaine est de 9227.0
la quantité de céréales dédiées à l'alimentation animale est de 35286.0

In [74]:
#total dispo intérieure
total_dispo_int_cereales=df_filtre_cereales['Disponibilité intérieure'].sum()
print(total_dispo_int_cereales)

50892.0

In [75]:
#calculer la proportion des cereales dédiées à l'alimentation humaine et à l'alimentation animale
proportion_cereales_nourriture=(total_nourriture_cereal/total_dispo_int_cereales)*100
print(f" la proportion de cereales dédiées à la nourriture est de {proportion_cereales_nourriture.round(2)}% ")

proportion_cereales_animaux=(total_aliments_pour_animaux_cereales/total_dispo_int_cereales)*100
print(f" la proportion de cereales dédiées à l'alimentation animale est de {proportion_cereales_animaux.round(2)}% ")

 la proportion de cereales dédiées à la nourriture est de 18.13%
 la proportion de cereales dédiées à l'alimentation animale est de 69.34%

**3. Utilisation du manioc par la Thaïlande aux égards de la proportion de personnes en sous-nutrition**

**A)Quel est le plus gros producteur de manioc**

In [76]:
#filtrer le fichier dispo alimentaire sur le manioc
filt_manioc=dispo_alimentaire.loc[dispo_alimentaire['Produit']=='Manioc']
filt_manioc.head()

,Zone,Produit,Origine,Aliments pour animaux,Autres Utilisations,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,...,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock,dispox,dispoy,soustraction
110,Afrique du Sud,Manioc,vegetale,0.0,57.0,0.0,0.0,0.0,0.00,57.0,...,58.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
203,Albanie,Manioc,vegetale,0.0,0.0,0.0,0.0,0.0,0.00,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
295,Algérie,Manioc,vegetale,0.0,0.0,0.0,0.0,0.0,0.00,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
390,Allemagne,Manioc,vegetale,1.0,26.0,0.0,0.0,0.0,0.00,27.0,...,41.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
475,Angola,Manioc,vegetale,8880.0,0.0,560.0,197.9,0.6,4.72,16412.0,...,0.0,4249.0,3282.0,16412.0,0.0,0.0,0.0,16412.0,0.0,16412.0

In [77]:
tri_prod=filt_manioc.groupby(['Zone','Produit'], as_index=False).sum()
tri_prod.head()

,Zone,Produit,Aliments pour animaux,Autres Utilisations,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock,dispox,dispoy,soustraction
0,Afrique du Sud,Manioc,0.0,57.0,0.0,0.0,0.0,0.00,57.0,2.0,58.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,Albanie,Manioc,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Algérie,Manioc,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Allemagne,Manioc,1.0,26.0,0.0,0.0,0.0,0.00,27.0,14.0,41.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Angola,Manioc,8880.0,0.0,560.0,197.9,0.6,4.72,16412.0,0.0,0.0,4249.0,3282.0,16412.0,0.0,0.0,0.0,16412.0,0.0,16412.0

In [78]:
#trier par ordre décroissant
tri_prod[['Zone','Production']].sort_values(by ='Production', ascending = False).head(10)

           Zone  Production
105     Nigéria     53000.0
148   Thaïlande     30228.0
68    Indonésie     23937.0
22       Brésil     21226.0
4        Angola     16412.0
56        Ghana     15990.0
100  Mozambique     10000.0
158    Viet Nam      9758.0
28     Cambodge      8000.0
67         Inde      7237.0

**B)Quel est le plus gros importateur de manioc**

In [79]:
#trier les importations par ordre decroissant
tri_prod[['Zone','Importations - Quantité']].sort_values(by ='Importations - Quantité', ascending = False).head(10)

                          Zone  Importations - Quantité
35         Chine, continentale                  29046.0
125        République de Corée                   1933.0
34   Chine, Taiwan Province de                   1324.0
148                  Thaïlande                   1250.0
68                   Indonésie                   1102.0
89                    Malaisie                    844.0
75                       Japon                    637.0
165      États-Unis d'Amérique                    588.0
116                Philippines                    276.0
13                  Bangladesh                    147.0

**C)Quel est le plus gros exportateur de manioc**

In [80]:
#trier les exportations par ordre decroissant
tri_prod[['Zone','Exportations - Quantité']].sort_values(by ='Exportations - Quantité', ascending = False).head(10)

                          Zone  Exportations - Quantité
148                  Thaïlande                  25214.0
158                   Viet Nam                   8973.0
68                   Indonésie                    820.0
28                    Cambodge                    254.0
114                   Paraguay                    164.0
39                  Costa Rica                    123.0
34   Chine, Taiwan Province de                     82.0
32    Chine - RAS de Hong-Kong                     80.0
111                    Ouganda                     47.0
35         Chine, continentale                     41.0

**La Thaîlande est le 2 eme plus gros producteur de Manioc et le 1er exportateur de Manioc dans le monde**

**D) Utilisation du manioc en Thaïlande**

In [81]:
#filtrer le fichier dispo alimentaire sur le manioc
filt_manioc=dispo_alimentaire.loc[dispo_alimentaire['Produit']=='Manioc']
filt_manioc.head()

,Zone,Produit,Origine,Aliments pour animaux,Autres Utilisations,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,...,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock,dispox,dispoy,soustraction
110,Afrique du Sud,Manioc,vegetale,0.0,57.0,0.0,0.0,0.0,0.00,57.0,...,58.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
203,Albanie,Manioc,vegetale,0.0,0.0,0.0,0.0,0.0,0.00,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
295,Algérie,Manioc,vegetale,0.0,0.0,0.0,0.0,0.0,0.00,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
390,Allemagne,Manioc,vegetale,1.0,26.0,0.0,0.0,0.0,0.00,27.0,...,41.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
475,Angola,Manioc,vegetale,8880.0,0.0,560.0,197.9,0.6,4.72,16412.0,...,0.0,4249.0,3282.0,16412.0,0.0,0.0,0.0,16412.0,0.0,16412.0

In [82]:
#filtrer sur la Thaïlande
filt_Thaï=filt_manioc.loc[filt_manioc['Zone']=='Thaïlande']
filt_Thaï.head()

,Zone,Produit,Origine,Aliments pour animaux,Autres Utilisations,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,...,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock,dispox,dispoy,soustraction
13809,Thaïlande,Manioc,vegetale,1800.0,2081.0,40.0,13.0,0.05,0.14,6264.0,...,1250.0,871.0,1511.0,30228.0,0.0,0.0,0.0,6264.0,0.0,6264.0

In [83]:
#part du manioc dans la nourriture Thaï
#diviser l'un par l'autre
proportion_manioc=filt_Thaï['Nourriture']/filt_Thaï['Production']*100
print(proportion_manioc.values[0])
print(f" la proportion de manioc utilisée dans la nourriture Thaïlandaise est donc de {proportion_manioc.values[0].round(2)}% ")

2.8814344316527722
 la proportion de manioc utilisée dans la nourriture Thaïlandaise est donc de 2.88%

In [85]:
#rapport entre exportation et production
df_rapport=filt_Thaï['Exportations - Quantité']/filt_Thaï['Production']*100
print(df_rapport.values[0])

83.41272991928014